// .drag-list-container {
//   width: 100%;
//   max-width: 100%;
//   margin: 0 25px 25px 0;
//   vertical-align: top;
//   border:solid;
// }

// .drag-list {
//   border: solid 1px #ccc;
//   min-height: 60px;
//   background: white;
//   border-radius: 4px;
//   overflow: hidden;

// }

// .drag-item {
//   border: solid 1p black;
//   height: 80px;
//   width: 80px;
// }
// .Ocuped{
//   height: 80px;
//   width: 80px;
//   background: green
// }
mat-grid-tile {
    background: lightblue;
    border: solid 1px black;
  }
  .false{
    background-color:lightgreen;
  }
  
  .true{
    background-color: gray;
  }