<!-- Traer facultades y mostrarlas, y en dependencia de lo que se tenga en el queryString se llamara a mostrar elementos -->

<div class="row">
  <div class="col-3" hidden>
    <mat-form-field class="font-size-12" appearance="outline">
        <mat-label>Facultad</mat-label>
        <mat-select [(ngModel)]="selectedF" name="facultad" (selectionChange)="getDep($event.value.facultad_id)">
            <mat-option *ngFor="let facultad of facultades" [value]="facultad">
                {{facultad.facultad_nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
  
<div class="col-3" hidden>
  <div *ngIf="departamentos.length>0 && selectedF">
      <div *ngIf="departamentos.length>0">
          <mat-form-field class="font-size-12" appearance="outline">
              <mat-label>Departamento</mat-label>
              <mat-select [(ngModel)]="selectedD" name="departamento" (selectionChange)="getCarreras($event.value.departamento_id)">
                  <mat-option *ngFor="let departamento of departamentos" [value]="departamento">
                      {{departamento.departamento_nombre}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
  </div>
</div>

<div class="col-3">
  <mat-form-field class="font-size-12" appearance="outline">
      <mat-label>Planificaci&oacute;n</mat-label>
      <mat-select [(ngModel)]="selectedPlan" name="planificacion" (selectionChange)="getCarreras(selectedD.departamento_id);">
          <mat-option *ngFor="let plan of planificaciones" [value]="plan">
              Semestre {{plan.planificacion_semestre}} año {{plan.planificacion_anyo_lectivo}}
          </mat-option>
      </mat-select>
  </mat-form-field>
</div>

<div class="col-3">
  <div *ngIf="carreras.length>0">
      <mat-form-field class="font-size-12" appearance="outline">
          <mat-label>Carrera</mat-label>
          <mat-select [(ngModel)]="selectedCarrera" name="carrera">
              <mat-option *ngFor="let carrera of carreras" [value]="carrera">
                  {{carrera.carrera_nombre}}
              </mat-option>
          </mat-select>
      </mat-form-field>
  </div>
</div>


<div *ngIf="selectedCarrera" class="col-3">
  <mat-form-field class="font-size-12" appearance="outline">
      <mat-label>A&ntilde;o</mat-label>
      <mat-select name="anyo" (selectionChange)="getGrupos($event.value)">
          <mat-option *ngFor="let anyo of anyos" [value]="anyo">
              A&ntilde;o: {{anyo}}
          </mat-option>
      </mat-select>
  </mat-form-field>
</div>
</div>

<div *ngIf="array.length===6">
  <mat-grid-list cols="5" rowHeight="3:1" *ngFor="let dias of array">
    <mat-grid-tile *ngFor="let horas of dias" [ngClass]="horas[0].horario_vacio ? 'true' : 'false'">
      <div *ngIf="horas !== undefined">
        <div *ngFor="let hora of horas">
                {{hora.docente}}
                {{hora.componente}}
                {{hora.aula}}
        <br>
        </div>

      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>
