<form [formGroup]="form" class="d-flex flex-column font-size-12">
  <mat-form-field appearance="outline">
    <mat-label>Docente</mat-label>
    <mat-select formControlName="dh_docente">
      <mat-option *ngFor="let doc of docentes" [value]="doc.docente_id">
        {{doc.docente_nombre}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="Form.dh_docente.invalid">{{Errors.getError(Form.dh_docente)}}</mat-error>

  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Planificaci&oacute;n</mat-label>
    <mat-select formControlName="dh_planificacion">
      <mat-option *ngFor="let plan of planificaciones" [value]="plan.planificacion_id">
        Semestre {{plan.planificacion_semestre}} | {{plan.planificacion_anyo_lectivo}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="Form.dh_planificacion.invalid">{{Errors.getError(Form.dh_planificacion)}}</mat-error>

  </mat-form-field>

  <div class="row">
    <h5 class="col-12"><strong>Horas asignadas</strong></h5>
    <mat-form-field class="col-6" appearance="outline">
      <mat-label>Planta</mat-label>
      <input #hp type="numer" formControlName="dh_horas_planta" matInput>
      <mat-error *ngIf="Form.dh_horas_planta.invalid">{{Errors.getError(Form.dh_horas_planta)}}</mat-error>

    </mat-form-field>
    <mat-form-field class="col-6" appearance="outline">
      <mat-label>Parciales</mat-label>
      <input #hh type="numer" formControlName="dh_horas_hor" matInput>
      <mat-error *ngIf="Form.dh_horas_hor.invalid">{{Errors.getError(Form.dh_horas_hor)}}</mat-error>
    </mat-form-field>
  </div>
  <p><strong>Horas totales: {{+hp.value + +hh.value}}</strong></p>
  <button mat-raised-button [disabled]="form.invalid" class="bg-color-green color-white"
    (click)="data.type === 'c' || data.type === 'a' ? saveDH():updateDH()">
    <mat-icon>save</mat-icon>Guardar
  </button>
  <button mat-raised-button color="warn" (click)="dialogRef.close()">
    <mat-icon>cancel</mat-icon>Cancelar
  </button>

</form>
