<mat-card>
  <div class="row" *ngIf="componente != null">
    <div class="horas col-9">
      <button mat-raised-button [disabled]="componente.componente_cht != '0' ?  false : true"
        (click)="addGroup(componente.componente_id, 'GT')" class="w-25" style="background-color: #4d96ff;">
        GT
      </button>
      <button mat-raised-button [disabled]="componente.componente_chp != '0'?  false : true"
        (click)="addGroup(componente.componente_id, 'GP')" class="w-25 ml-1 mr-1" style="background-color: #73ff61;">
        GP
      </button>
    </div>
    <div class="col-3">
      <mat-checkbox (change)="docentesDePlanta($event.checked)">Solo planta</mat-checkbox>
    </div>
  </div>
  <div class="row groups">
    <div class="col-12 list-groups ">
      <mat-list>
        <mat-list-item *ngFor="let grupo of grupos; let i = index"
          class="border-radius-50 font-size-12 h-auto grupo-list-el" [class.bg-color-ligth]="i % 2 === 1"
          style="cursor:pointer;">
          {{grupo.grupo_componente | componenteNameSimple : componentes}} {{grupo.grupo_tipo}}{{grupo.grupo_numero}}
          <span style="flex: 1 1 auto"></span>
          <mat-form-field class="font-size-12 ml-1" appearance="outline">
            <mat-label>Docente</mat-label>
            <mat-select [value]="grupo.grupo_docente" (selectionChange)="setDocente($event.value, grupo.grupo_id)">
              <mat-option value="0">Sin docente</mat-option>
              <mat-option *ngFor="let docente of docentesList" [value]="docente.docente_id">{{docente.docente_nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button color="warn" [value]="grupo.grupo_id" (click)="delGrupo(grupo.grupo_id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button [value]="grupo.grupo_id" (click)="openDialog('u', grupo.grupo_id)">
            <mat-icon class="color-green">edit</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

</mat-card>
