<div class="container-fluid">
  <div class="row">
    <h1>Planes de estudio</h1>
    <span style="flex: 1 1 auto"></span>
    <button mat-icon-button color="primary" (click)="openDialog('c')">
      <mat-icon>add</mat-icon> Agregar
    </button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let planDeEstudio"> {{planDeEstudio.pde_id}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let pde"> {{pde.pde_nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="anyo">
    <th mat-header-cell *matHeaderCellDef> Año </th>
    <td mat-cell *matCellDef="let pde"> {{pde.pde_anyo}} </td>
  </ng-container>

  <ng-container matColumnDef="carrera">
    <th mat-header-cell *matHeaderCellDef> Carrera </th>
    <td mat-cell *matCellDef="let pde"> {{ pde.pde_carrera | carreraName:carreras }} </td>
  </ng-container>

  <ng-container matColumnDef="opciones">
    <th mat-header-cell *matHeaderCellDef> opciones </th>
    <td mat-cell *matCellDef="let pde">
      <div class="opciones">
        <button class="btn btn-danger btnlogin" (click)="deletePlanEstudio(pde.pde_id)">
          <i class="fas fa-trash-alt"></i>
        </button>
        <button class="btn btn-success btnlogin" (click)="openDialog('u', pde.pde_id)">
          <i class="fas fa-edit"></i>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
