<mat-card style="height: 81vh;  overflow: auto;" *ngIf="show; else stillLoading">
  <mat-form-field class="font-size-12 " appearance="outline">
    <mat-label>Planificaci&oacute;n</mat-label>
    <mat-select [(value)]="planSelected" (selectionChange)="setHorariosTable()">
      <mat-option *ngFor="let plan of planificaciones" [value]="plan.planificacion_id">
        Semestre {{plan.planificacion_semestre}} | año {{plan.planificacion_anyo_lectivo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="font-size-12 ml-1" appearance="outline">
    <mat-label>Carrera</mat-label>
    <mat-select [disabled]="planSelected != 'null' ? false:true" [(value)]="carreraSelected"
      (selectionChange)="getGrupos()">
      <mat-option *ngFor="let carrera of carreras" [value]="carrera.carrera_id">{{carrera.carrera_nombre}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="font-size-12 ml-1 " appearance="outline">
    <mat-label>Año</mat-label>
    <mat-select [disabled]="carreraSelected != 'null' ? false:true" [(value)]="anyoSelected"
      (selectionChange)="getGrupos()">
      <mat-option *ngFor="let i of [1,2,3,4,5]" [value]="i">{{i}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="font-size-12 ml-1" appearance="outline">
    <mat-label>Recinto</mat-label>
    <mat-select [(value)]="selectedR" (selectionChange)="getAulas($event.value)">
      <mat-option value="0">sin filtro</mat-option>
      <mat-option *ngFor="let recinto of recintos" [value]="recinto.recinto_id">
        {{recinto.recinto_nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="font-size-12 ml-1" appearance="outline">
    <mat-label>Aula</mat-label>
    <mat-select [(value)]="aulaSelected" (selectionChange)="horarioByAula($event.value)">
      <mat-option *ngFor="let aula of aulas" [value]="aula.aula_id">
        {{aula.aula_nombre}} {{aula.aula_recinto | recintoNombre : recintos}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="row">
    <h5 class="col-12" *ngIf="aulaLabel != null">{{aulaLabel.aula_nombre}}
      {{aulaLabel.aula_recinto | recintoNombre : recintos}} </h5>
    <table class="col-8 font-size-10 mt-2 table table-striped table-bordered w-100"
      *ngIf="array.length && aulaSelected">
      <thead>
        <tr class="row mx-0">
          <th class="col-2">Hora</th>
          <th class="col-2" *ngFor="let dia of dias">{{dia}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row mx-0" *ngFor="let a of horasLabel; let i = index">
          <td class="col-2">{{a}}</td>
          <td class="col-2 list-element" *ngFor="let hora of array[i]" [ngClass]="{
              'bg-color-green': !hora.horario_choque && hora.horario_grupo != null,
              'bg-red-ligth': hora.horario_choque == 'd',
              'bg-warning': hora.horario_choque == 'c',
              'bg-purple-ligth': hora.horario_choque == 'a',
              'bg-color-yellow': hora===horarioSelected}" (click)="selectH(hora)">
            <ng-container [ngTemplateOutlet]="horarioContainer" [ngTemplateOutletContext]="{hora:hora}">
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-4">
      <mat-card *ngIf="gruposBycarreraAnyo.length && aulaSelected" class="sticky">
        <div class="row px-2">
          <div class="col-6 leyenda bg-color-green">Sin choque</div>
          <div class="col-6 leyenda bg-red-ligth">Choque docente</div>
          <div class="col-6 leyenda bg-warning">Choque componente</div>
          <div class="col-6 leyenda bg-purple-ligth">Choque ciclo</div>
        </div>
        <strong>Componetes</strong>
        <div>
          <button mat-raised-button [disabled]="assign" color="primary" (click)="assign = true; noassign = false;">
            Asignados</button>
          <button mat-raised-button class="ml-1" [disabled]="noassign" (click)="assign = false; noassign = true;"
            color="primary">No asignados</button>
        </div>
        <mat-list class="max-h groupsList mt-2">
          <ng-container *ngFor="let gp of gruposBycarreraAnyo; let i = index;">
            <mat-list-item class="font-size-10 list-element" *ngIf="gp.grupo_asignado == assign"
              [class.bg-color-ligth]="(i % 2 === 1)&&(gp!==grupoSelected)" [class.bg-color-yellow]="gp===grupoSelected"
              (click)="selectGP(gp)">
              {{gp.grupo_id |  nombreGrupo : grupos}} {{gp.grupo_id | componenteGrupo : onComponente}}<br>
              {{gp.grupo_docente | docenteName : docentes}} <br>
              hrs: {{gp.grupo_horas_clase}}
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-card>
    </div>
  </div>
</mat-card>

<ng-template #stillLoading>
  <div class="center col-2">
    <div class="google-loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</ng-template>

<ng-template #horarioContainer let-hora='hora'>
  <div class="d-flex flex-column h-100">
    <span>
      {{hora.horario_grupo | nombreGrupo : grupos}}
      {{hora.horario_grupo | componenteGrupo : onComponente}}
    </span>
    <span style="min-height: 40px; border-radius: 5px" class="h-100  w-100">
      <div *ngIf="hora.horario_grupo != null">
        {{docenteNombre(hora.horario_grupo)}} <br>
        {{getCarrera(hora.horario_grupo)}} <br>
        Ciclo:{{ hora.horario_ciclo}}
      </div>
      <div *ngIf="hora.horario_grupo == null" class="w-50 mx-auto text-center icon-style color-green">
        <mat-icon class="point">add_box</mat-icon>
      </div>
    </span>
    <span *ngIf="hora.horario_grupo != null">
      <span>
        <button mat-icon-button color="warn" (click)="rmHorario(hora)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="secundary" *ngIf="hora.horario_choque != ''" (click)="infoChoque(hora)">
          <mat-icon>info</mat-icon>
        </button>
      </span>
    </span>
  </div>
</ng-template>

<div *ngIf="filtering" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
