.false {
    background-color: lightgreen;
}

.true {
    background-color: gray;
}

td {
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
}

td.elemento {
    width: 250px;
    text-transform: capitalize;
}

table {
    margin: auto;
    align-content: center;
    text-align: center;
}
.centrar {
    text-align: center;
}

.warning {
    background-color: #d6c502;
}

.success {
    background-color: #2eab00;
}

.danger {
    background-color: #c41000;
}

.horas {
    width: 100%;
    text-align: right;
    padding: 5px;
    color: white;
    font-weight: bold;
}

// google loader
$font: 'Montserrat', sans-serif;

$black: rgb(8, 8, 8);
$red:  #DB4437;
$yellow: #F4B400;
$green: rgb(15, 25, 157);
$colors-list: $green $yellow $red;

.google-loader {
	display: block;
	span {
		display: inline-block;
		margin-top: 10px;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		&:not(:first-child) { margin-left: 10px; }
	}
	@each $current-color in $colors-list {
		$i: index($colors-list, $current-color);
		$t: $i * -0.25;
		span:nth-child(#{$i}) {
			background: $current-color;
			animation: move 1s ease-in-out (#{$t}s) infinite alternate;
		}
	}
}

@keyframes move {
	from { transform: translateY(-10px); }
	to { transform: translateY(5px); }
}

h1 {
	font-family: $font;
	font-size: 4em;
	text-align: center;
	letter-spacing: -8px;
	margin-top: 0;
	span {
		&:first-child { color: $black; }
		&:nth-child(2) { color: $red; }
		&:nth-child(3) { color: $yellow; }
		&:nth-child(4) { color: $black; }
		&:nth-child(5) { color: $green; }
		&:last-child { 
			color: $red; 
			transform: rotate(-20deg);
			display: inline-block;
		}
	}
}
			
html, body {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
// termina aqui
