<form *ngIf="form !== undefined" [formGroup]="form" class="font-size-12 d-flex flex-column">
  <div class="horas">
    <button mat-raised-button class="w-50" color="primary"
      (click)="form.value.componente_id === null ? saveComponente(0):saveComponente(1)"
      [disabled]="form.invalid || editing">
      <mat-icon>save</mat-icon>Guardar
    </button>
    <button mat-raised-button class="w-50 ml-1" color="warn" (click)="dialogRef.close()">
      <mat-icon>cancel</mat-icon>Cancelar
    </button>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="componente_nombre">
    <mat-error *ngIf="Form.componente_nombre.invalid">{{Errors.getError(Form.componente_nombre)}}</mat-error>
  </mat-form-field>
  <mat-label>Horas</mat-label>
  <div class="horas">
    <mat-form-field class="w-50 d-inline" appearance="outline">
      <mat-label>teoricas</mat-label>
      <input matInput formControlName="componente_cht">
      <mat-error *ngIf="Form.componente_cht.invalid">{{Errors.getError(Form.componente_cht)}}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-50 d-inline ml-1" appearance="outline">
      <mat-label> practicas</mat-label>
      <input matInput formControlName="componente_chp">
      <mat-error *ngIf="Form.componente_chp.invalid">{{Errors.getError(Form.componente_chp)}}</mat-error>
    </mat-form-field>
  </div>
  <div class="horas">
    <mat-form-field class="w-50" appearance="outline">
      <mat-label>Ciclo</mat-label>
      <mat-select formControlName="componente_ciclo">
        <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">{{i}}</mat-option>
      </mat-select>
      <mat-error *ngIf="Form.componente_ciclo.invalid">{{Errors.getError(Form.componente_ciclo)}}</mat-error>
    </mat-form-field>

    <mat-form-field class="w-50 ml-1" appearance="outline">
      <mat-label>Creditos</mat-label>
      <input matInput formControlName="componente_credito">
      <mat-error *ngIf="Form.componente_credito.invalid">{{Errors.getError(Form.componente_credito)}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline" class="col-9">
      <mat-label>Area</mat-label>
      <mat-select [(value)]="selected" formControlName="componente_area">
        <mat-option *ngFor="let area of areas" [value]="area.area_id">{{area.area_nombre}}</mat-option>
      </mat-select>
      <mat-error *ngIf="Form.componente_area.invalid">{{Errors.getError(Form.componente_area)}}</mat-error>
    </mat-form-field>
    <a mat-button class="col-3" title="Agregar Area" href="area/ver" target="_blank">
      <mat-icon>add_circle</mat-icon>
    </a>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" class="col-9">
      <mat-label>Plan de estudios</mat-label>
      <mat-select [(value)]="selected2" formControlName="componente_pde">
        <mat-option *ngFor="let pde of pdes" [value]="pde.pde_id">{{pde.pde_nombre}}</mat-option>
      </mat-select>
      <mat-error *ngIf="Form.componente_pde.invalid">{{Errors.getError(Form.componente_pde)}}</mat-error>
    </mat-form-field>
    <a mat-button class="col-3" title="Agregar Plan de Estudio" href="planestudio/ver" target="_blank">
      <mat-icon>add_circle</mat-icon>
    </a>
  </div>
</form>
