<div class="container-fluid">
  <mat-card>
    <div class="row">
      <div class="col-12 float-right">
        <button mat-raised-button color="primary" (click)="createForm(0)">
          <mat-icon>add</mat-icon>Agregar
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <mat-list>
          <mat-list-item *ngFor="let grupo of grupos"> grupo: {{grupo.grupo_id}} componente: {{grupo.grupo_componente}}
            <span style="flex: 1 1 auto"></span>
            <button mat-icon-button  [value]="grupo.grupo_id"
                     (click)="delGrupo(grupo.grupo_id)">
                         <mat-icon  style="color:red" >delete</mat-icon>  
                    </button>
                    <button mat-icon-button  [value]="grupo.grupo_id"
                     (click)="createForm(1, grupo.grupo_id)">
                         <mat-icon style="color:green">edit</mat-icon>
                    </button>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col-lg-4 col-md-4">
        <span *ngIf="add">
          <form [formGroup]="form" class="d-flex flex-column">
            <mat-form-field appearance="outline">
              <mat-label>numero de grupo</mat-label>
              <input matInput formControlName="grupo_numero">
              <mat-error *ngIf="Form.grupo_numero.invalid">{{Errors.getError(Form.grupo_numero)}}</mat-error>

            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Maxima capacidad</mat-label>
              <input matInput formControlName="grupo_max_capacidad">
              <mat-error *ngIf="Form.grupo_max_capacidad.invalid">{{Errors.getError(Form.grupo_max_capacidad)}}</mat-error>

            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Tipo</mat-label>
              <input matInput formControlName="grupo_tipo">
              <mat-error *ngIf="Form.grupo_tipo.invalid">{{Errors.getError(Form.grupo_tipo)}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Modo</mat-label>
              <input matInput formControlName="grupo_modo">
              <mat-error *ngIf="Form.grupo_modo.invalid">{{Errors.getError(Form.grupo_modo)}}</mat-error>
            </mat-form-field>
            <mat-checkbox formControlName="grupo_planta">Horario Planta!</mat-checkbox>
            <mat-form-field appearance="outline">
              <mat-label>Cantidad de horas </mat-label>
              <input matInput formControlName="grupo_horas_clase">
              <mat-error *ngIf="Form.grupo_horas_clase.invalid">{{Errors.getError(Form.grupo_horas_clase)}}</mat-error>

            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Componente</mat-label>
              <mat-select [value]="selected" formControlName="grupo_componente">
                <mat-option value="0">Componentes...</mat-option>
                <mat-option *ngFor="let componente of componentes" [value]="componente.componente_id">
                  {{componente.componente_nombre}}</mat-option>
              </mat-select>
              <mat-error *ngIf="Form.grupo_componente.invalid">{{Errors.getError(Form.grupo_componente)}}</mat-error>

            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Docente</mat-label>
              <mat-select [(value)]="selected" formControlName="grupo_docente">
                <mat-option value="0">Docente...</mat-option>
                <mat-option *ngFor="let docente of docentes" [value]="docente.docente_id">{{docente.docente_nombre}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="Form.grupo_docente.invalid">{{Errors.getError(Form.grupo_docente)}}</mat-error>

            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Planificacion</mat-label>
              <mat-select [(value)]="selected2" formControlName="grupo_planificacion">
                <mat-option value="0">Planificacion...</mat-option>
                <mat-option *ngFor="let planificacion of planificaciones" [value]="planificacion.planificacion_id">
                  {{planificacion.planificacion_id}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="Form.grupo_planificacion.invalid">{{Errors.getError(Form.grupo_planificacion)}}</mat-error>

            </mat-form-field>

            <button mat-raised-button type="button" class="float-rigth" color="primary"
              (click)="form.value.grupo_id === null ? saveGrupo(0):saveGrupo(1)"
              [disabled]="form.invalid || editing">
              <mat-icon>save</mat-icon>Guardar
            </button>
            <button mat-raised-button type="button" class="float-rigth" color="warn"
            (click)="add = false">
            <mat-icon>cancel</mat-icon>Cancelar
        </button>
          </form>
        </span>
      </div>
    </div>
  </mat-card>
</div>
