<mat-toolbar class="docs-nav-bar barrita">
    <a class="docs-button mat-button elemento" mat-button (click)="drawer.toggle()"><i class="fa fa-bars" ></i></a>
    <a class="docs-button mat-button elemento" href="#" mat-button> <i class="fa fa-calendar-minus-o"  > </i> UNAN-Le&oacute;n</a>
    <!---->
    <a class="docs-button mat-button elemento" href="#" mat-button disabled>JKM</a>
  </mat-toolbar>
  <mat-drawer-container class="example-container contenidos">
      <mat-drawer #drawer class="example-sidenav" mode="over">
         <app-contenido></app-contenido>
         
        </mat-drawer>
      
    <mat-drawer-content>
       <router-outlet></router-outlet>
      
    </mat-drawer-content>
  </mat-drawer-container>