.barrita {
    background: #3f51b5;
    position: relative;
    height: 10%;
}

.elemento {
    color: #9cc3ff;
    text-decoration: none;
}

.contenidos {
    height: 90%;
    background-image: url(../../../assets/images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.ima {
    width: 40px;
    height: 45px;
}