.Radio-button {
  margin: 5px;
}

td {
  min-width: 100px;
}

.max-h {
  max-height: 450px !important;
}

.point {
  cursor: pointer;
}

.leyenda {
  width: 95px;
  height: 25px;
  border-radius: 5px;
}
.sticky {
  position: fixed;
  width: auto;
}
.groupsList {
  overflow: auto;
  height: 250px;
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.icon-style {
  top: 30% !important;
  position: relative;
}
