<div class="container-fluid">
    <mat-card>
        <form class="d-flex flex-column font-size-12 " *ngIf="show">
            <div class="row">
                <div class="col-3">

                    <mat-radio-group name="dia" class="Radio-group"
                    aria-labelledby="dias">
                        <mat-radio-button class="Radio-button" *ngFor="let dia of dias; let i = index" [value]="i+1">
                            {{dia}}
                        </mat-radio-button>        
                    </mat-radio-group>
                </div>
                    <div class="col-3">         
                        <mat-radio-group name="hora"  class="Radio-group"
                        aria-labelledby="horas">
                            <mat-radio-button class="Radio-button" *ngFor="let hora of [1,2,3,4,5]" [value]="hora">
                                {{hora}}
                            </mat-radio-button>
                        </mat-radio-group >
                    </div>
                 <div class="col-3">

                     
                     <mat-radio-group name="aula" class="Radio-group"
                     aria-labelledby="aulas">
                         <mat-radio-button class="Radio-button" *ngFor="let aula of aulas" [value]="aula.aula_id">
                             {{aula.aula_nombre}} {{aula.aula_recinto}}
                            </mat-radio-button>           
                        </mat-radio-group>
                    </div>
                  <div class="col-3">

                      
                      <mat-radio-group name="grupo"  class="Radio-group"
                      aria-labelledby="grupos">
                          <mat-radio-button class="Radio-button" *ngFor="let grupo of grupos" [value]="grupo.grupo_id" >
                              {{grupo.grupo_componente | componenteNombre : componentes}} {{grupo.grupo_tipo}}{{grupo.grupo_numero}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </form>
    </mat-card>
</div>