<mat-card style="height: 80vh;  overflow: auto;">
    <mat-form-field class="font-size-12" appearance="outline">
        <mat-label>Carrera</mat-label>
        <mat-select [(value)]="carreraSelected" (selectionChange)="pdesByCarrera($event.value)">
            <mat-option *ngFor="let carrera of carreras" [value]="carrera.carrera_id">{{carrera.carrera_nombre}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="font-size-12 ml-1 " appearance="outline">
        <mat-label>Ciclo</mat-label>
        <mat-select [disabled]="carreraSelected != '0' ? false:true" [(value)]="cicloSelected" (selectionChange)="componentesByCiclo($event.value)">
            <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">{{i}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="font-size-12 ml-1" appearance="outline">
        <mat-label>Plan de estudios</mat-label>
        <mat-select [disabled]="cicloSelected != '0' ? false:true" [(value)]="pdeSelected" (selectionChange)="componentesByPde($event.value)">
            <mat-option *ngFor="let pde of pdeByCarrera" [value]="pde.pde_id">{{pde.pde_nombre}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="font-size-12 ml-1" appearance="outline">
        <mat-label>Planificaci&oacute;n</mat-label>
        <mat-select [disabled]="pdeSelected != '0' ? false:true" [(value)]="planSelected" (selectionChange)="groupsByPlan($event.value)">
            <mat-option *ngFor="let plan of planificaciones" [value]="plan.planificacion_id">
                Semestre {{plan.planificacion_semestre}} | año {{plan.planificacion_anyo_lectivo}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="font-size-12 ml-1" appearance="outline">
        <mat-label>Recinto</mat-label>
        <mat-select [(value)]="selectedR" (selectionChange)="getAulas($event.value)">
            <mat-option *ngFor="let recinto of recintos" [value]="recinto.recinto_id">
                {{recinto.recinto_nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <form class="d-flex flex-column font-size-12 mt-2 " *ngIf="show">
        <div class="row">
            <div class="col-12">
                <mat-radio-group [(ngModel)]="diaSelected" name="dia" class="Radio-group" aria-labelledby="dias">
                    <label><strong>Dia</strong></label>
                    <mat-radio-button class="ml-1 " *ngFor="let dia of dias" [value]="dia">
                        {{dia}}
                    </mat-radio-button>
                </mat-radio-group>
                <button mat-raised-button class="btnEditar ml-2" (click)="save()">
                    <mat-icon>save</mat-icon>Guardar
                </button>
            </div>
            <div class="col-12 mb-2">
                <mat-radio-group [(ngModel)]="horaSelected" name="hora" class="Radio-group" aria-labelledby="horas">
                    <label><strong>Hora</strong></label>
                    <mat-radio-button class="ml-1" *ngFor="let hora of horas" [value]="hora.value">
                        {{hora.hora}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="row">

            <div class="col-2 overflow-auto mb-2">

                <mat-radio-group [(ngModel)]="aulaSelected" name="aula" class="d-flex flex-column" aria-labelledby="aulas">
                    <label><strong>Aulas</strong></label>
                    <mat-radio-button class="Radio-button" (click)="horarioByAula(aula.aula_id)" *ngFor="let aula of aulas" [value]="aula.aula_id">
                        {{aula.aula_nombre}} {{aula.aula_recinto | recintoNombre : recintos}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-3 .overflow-auto mb-2">
                <mat-radio-group [(ngModel)]="grupoSelected" name="grupo" class="d-flex flex-column" aria-labelledby="grupos">
                    <label><strong>Grupos</strong></label>
                    <mat-radio-button class="Radio-button" *ngFor="let grupo of gruposByPlan" [value]="grupo">
                        {{grupo.grupo_componente | componenteNombre : componentes}} {{grupo.grupo_tipo}}{{grupo.grupo_numero}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-7 ">
                <table class=" table table-striped  ">
                    <tbody>
                        <tr class="row">
                            <th class="col-2">07am - 09am</th>
                            <td class="col-2" *ngFor="let hora of array[0]">
                                {{hora.horario_grupo | componenteGrupoSimple : onComponente}}
                            </td>
                        </tr>
                        <tr class="row">
                            <th class="col-2">09am - 11am</th>
                            <td class="col-2" *ngFor="let hora of array[1]">
                                {{hora.horario_grupo | componenteGrupoSimple : onComponente}}
                            </td>
                        </tr>
                        <tr class="row">
                            <th class="col-2">11am-01pm</th>
                            <td class="col-2" *ngFor="let hora of array[2]">
                                {{hora.horario_grupo | componenteGrupoSimple : onComponente}}
                            </td>
                        </tr>
                        <tr class="row">
                            <th class="col-2">01pm - 03pm</th>
                            <td class="col-2" *ngFor="let hora of array[3]">
                                {{hora.horario_grupo | componenteGrupoSimple : onComponente}}
                            </td>
                        </tr>
                        <tr class="row">
                            <th class="col-2">03pm - 05pm</th>
                            <td class="col-2" *ngFor="let hora of array[4]">
                                {{hora.horario_grupo | componenteGrupoSimple : onComponente}}
                            </td>
                        </tr>
                        <tr class="row">
                            <th class="col-2">05m - 07pm</th>
                            <td class="col-2" *ngFor="let hora of array[5]">
                                {{hora.horario_grupo | componenteGrupoSimple : onComponente}}
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </form>
</mat-card>