<div class="container-fluid">
  <div class="row">
    <form class="col-12" [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
        <mat-error *ngIf="Form.nombre.invalid">{{Errors.getError(Form.nombre)}}</mat-error>

      </mat-form-field>
      <button  mat-raised-button color="primary" 
      (click)="sendData()"
      [disabled]="form.invalid"
      ><mat-icon>save</mat-icon></button>
      <button mat-raised-button (click)="cancel()"><mat-icon>cancel</mat-icon></button>
    </form>

  </div>
</div>