<mat-card style="height: 80vh;">
  <form [formGroup]="form" *ngIf="isLoaded; else stillLoading" class="font-size-12 d-flex">
    <mat-form-field appearance="outline">
      <mat-label>Carrera</mat-label>
      <mat-select formControlName="carrera">
        <mat-option [value]="carrera.carrera_id" *ngFor="let carrera of carreras">{{carrera.carrera_nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ml-1" appearance="outline">
      <mat-label>Departamento</mat-label>
      <mat-select formControlName="departamento">
        <mat-option [value]="dep.departamento_id" *ngFor="let dep of departamentos">{{dep.departamento_nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ml-1" appearance="outline">
      <mat-label>Plan de estudios</mat-label>
      <mat-select formControlName="pde">
        <mat-option [value]="pde.pde_id" *ngFor="let pde of pdes">{{pde.pde_nombre}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ml-1" appearance="outline">
      <mat-label>Planificai&oacute;n</mat-label>
      <mat-select formControlName="planificacion" [(value)]="planSelected">
        <mat-option [value]="plan.planificacion_id" *ngFor="let plan of planificaciones">
          semestre {{plan.planificacion_semestre}} | año {{plan.planificacion_anyo_lectivo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="font-size-12 ml-1 " appearance="outline">
      <mat-label>Ciclo</mat-label>
      <!-- <mat-select formControlName="ciclo">
        <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">{{i}}</mat-option>
      </mat-select> -->
      <mat-select formControlName="ciclo">
        <span *ngIf="(planSelected | planificacionPipe : planificaciones) == '1'">
          <mat-option *ngFor="let i of [1,3,5,7,9]" [value]="i">{{i}}</mat-option>
        </span>
        <span *ngIf="(planSelected | planificacionPipe : planificaciones) == '2'">
          <mat-option *ngFor="let i of [2,4,6,8,10]" [value]="i">{{i}}</mat-option>
        </span>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button class="bg-color-green color-white ml-1" (click)="save()">
      <mat-icon>save</mat-icon>Guardar
    </button>
  </form>
</mat-card>

<ng-template #stillLoading>
  <div class="center col-2">
    <div class="google-loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</ng-template>
