.false {
    background-color: lightgreen;
}

.true {
    background-color: gray;
}

td {
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
}

td.elemento {
    font-style: italic;
    width: 250px;
}

table {
    margin: auto;
    align-content: center;
    text-align: center;
}