.false {
    background-color: lightgreen;
}

.true {
    background-color: gray;
}

td {
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
}

td.elemento {
    width: 20%;
}

table {
    margin: auto;
    align-content: center;
    text-align: center;
}

.caja {
    overflow: auto;
    height: 340px;
    overflow-x: hidden;
}