<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h4>Universidad Nacional Autonoma de Nicaragua</h4>
        </div>
        <div class="col-12 text-center">
            <h5>UNAN-Le&oacute;n</h5>
        </div>
        <div class="col-12 text-center">
            <h5>Departamento de cumputaci&oacute;n</h5>
        </div>
        <div class="col-12 text-center">
            <h5>Horarios por {{reporte}}</h5>
        </div>
        <div class="col-12 text-center">
            <h5>Horarios del semestre {{selectedPlan.planificacion_semestre}} a&ntilde;o {{selectedPlan.planificacion_anyo_lectivo}}</h5>
        </div>
    </div>
</div>

<!-- Traer facultades y mostrarlas, y en dependencia de lo que se tenga en el queryString se llamara a mostrar elementos -->
<div class="row">
    <div class="col-3" hidden>
        <mat-form-field class="font-size-12" appearance="outline">
            <mat-label>Facultad</mat-label>
            <mat-select [(ngModel)]="selectedF" name="facultad" (selectionChange)="filtros(reporte,$event.value.facultad_id)">
                <mat-option *ngFor="let facultad of facultades" [value]="facultad">
                    {{facultad.facultad_nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-3">
        <mat-form-field class="font-size-12" appearance="outline">
            <mat-label>Planificaci&oacute;n</mat-label>
            <mat-select [(ngModel)]="selectedPlan" name="planificacion" (selectionChange)="filtros( reporte, selectedF.facultad_id);">
                <mat-option *ngFor="let plan of planificaciones" [value]="plan">
                    Semestre {{plan.planificacion_semestre}} año {{plan.planificacion_anyo_lectivo}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!-- se piden recintos y se muestran recintos y al escoger recinto se mandara a traer aulas  -->
    <div *ngIf="reporte==='aula'" class="col-3">
        <div *ngIf="recintos.length>0">
            <mat-form-field class="font-size-12" appearance="outline">
                <mat-label>Recinto</mat-label>
                <mat-select [(ngModel)]="selectedR" name="recinto" (selectionChange)="getAulas($event.value.recinto_id)">
                    <mat-option *ngFor="let recinto of recintos" [value]="recinto">
                        {{recinto.recinto_nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>


    <!-- se pediran aulas del recinto previamente escogido y se mostraran para escoger de cual de ellas mostrar el horario -->
    <div *ngIf="activarA" class="col-3">
        <div *ngIf="aulas.length>0">
            <mat-form-field class="font-size-12" appearance="outline">
                <mat-label>Aula</mat-label>
                <mat-select [(ngModel)]="selectedA" name="aula" (selectionChange)="getHorarioByFilter('aula', $event.value.aula_id, selectedPlan.planificacion_id)">
                    <mat-option *ngFor="let aula of aulas" [value]="aula">
                        {{aula.aula_nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <!-- se pediran los departamentos de la facultad escogida y mostraran para que se escoja el departamento -->

    <div *ngIf="reporte!=='aula'" class="col-3" hidden>
        <div *ngIf="departamentos.length>0">
            <mat-form-field class="font-size-12" appearance="outline">
                <mat-label>Departamento</mat-label>
                <mat-select [(ngModel)]="selectedD" name="departamento" (selectionChange)="getDocentesOrCarreras($event.value.departamento_id)">
                    <mat-option *ngFor="let departamento of departamentos" [value]="departamento">
                        {{departamento.departamento_nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>


    <!-- se muestran los docentes del departamento para que se seleccione de cual mostrar los horarios -->
    <div *ngIf="reporte ==='docente'" class="col-3">
        <div *ngIf="docentes.length>0">
            <mat-form-field class="font-size-12" appearance="outline">
                <mat-label>Docentes</mat-label>
                <mat-select [(ngModel)]="selectedDocente" name="docente" (selectionChange)="getHorarioByFilter('docente', $event.value.docente_id, selectedPlan.planificacion_id)">
                    <mat-option *ngFor="let docente of docentes" [value]="docente">
                        {{docente.docente_nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <!-- se piden carreras y se muestran  para su seleccion  -->
    <div *ngIf="(reporte==='grupo')" class="col-3">
        <div *ngIf="carreras.length>0">
            <mat-form-field class="font-size-12" appearance="outline">
                <mat-label>Carrera</mat-label>
                <mat-select [(ngModel)]="selectedCarrera" name="carrera" (selectionChange)="getGrupos($event.value.carrera_id)">
                    <mat-option *ngFor="let carrera of carreras" [value]="carrera">
                        {{carrera.carrera_nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="(reporte==='anyo')" class="col-3">
        <div *ngIf="carreras.length>0">
            <mat-form-field class="font-size-12" appearance="outline">
                <mat-label>Carrera</mat-label>
                <mat-select [(ngModel)]="selectedCarrera" name="carrera">
                    <mat-option *ngFor="let carrera of carreras" [value]="carrera">
                        {{carrera.carrera_nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="(reporte==='anyo') && selectedCarrera" class="col-3">
        <mat-form-field class="font-size-12" appearance="outline">
            <mat-label>Anyo</mat-label>
            <mat-select name="anyo" (selectionChange)="getHorarioByAnyo($event.value)">
                <mat-option *ngFor="let anyo of anyos" [value]="anyo">
                    Anyo: {{anyo}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="activarG" class="col-3">
        <div *ngIf="grupos2.length>0">
            <mat-form-field class="font-size-12" appearance="outline">
                <mat-label>Grupo</mat-label>
                <mat-select [(ngModel)]="selectedGrupo" name="grupo" (selectionChange)="getHorarioByFilter('grupo', $event.value.grupo_id, selectedPlan.planificacion_id)">
                    <mat-option *ngFor="let grupo of grupos2" [value]="grupo">
                        Grupo {{grupo.grupo_numero}} {{grupo.grupo_componente | componenteNameSimple: componentes}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<!-- horarios -->
<div *ngIf="array.length===6">
    <table class="table" style="width: 80%;">
        <thead>
            <tr class="row">
                <th class="col-2">Hora</th>
                <th class="col-2">Lunes</th>
                <th class="col-2">Martes</th>
                <th class="col-2">Mi&eacute;rcoles</th>
                <th class="col-2">Jueves</th>
                <th class="col-2">Viernes</th>
            </tr>
        </thead>
        <tbody class="row">
            <div class="mat-figure">
                <tr class="row">
                    <td class="col-2">
                        7:00 - 9:00
                    </td>
                    <div *ngIf="reporte==='docente'" class="col-10">
                        <td *ngFor="let hora of array[0]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complexLink : simpleLink" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                    <div *ngIf="reporte==='grupo'" class="col-10">
                        <td *ngFor="let hora of array[0]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complex1Link : simple1Link" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                    <div *ngIf="reporte==='aula'" class="col-10">
                        <td *ngFor="let hora of array[0]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complex2Link : simple2Link" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>

                </tr>
                <tr class="row">
                    <td class="col-2">
                        9:00 - 11:00
                    </td>
                    <div *ngIf="reporte==='docente'" class="col-10">
                        <td *ngFor="let hora of array[1]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complexLink : simpleLink" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                    <div *ngIf="reporte==='grupo'" class="col-10">
                        <td *ngFor="let hora of array[1]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complex1Link : simple1Link" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                    <div *ngIf="reporte==='aula'" class="col-10">
                        <td *ngFor="let hora of array[1]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complex2Link : simple2Link" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                </tr>
                <tr class="row">
                    <td class="col-2">
                        11:00 - 13:00
                    </td>
                    <div *ngIf="reporte==='docente'" class="col-10">
                        <td *ngFor="let hora of array[2]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complexLink : simpleLink" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                    <div *ngIf="reporte==='grupo'" class="col-10">
                        <td *ngFor="let hora of array[2]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complex1Link : simple1Link" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                    <div *ngIf="reporte==='aula'" class="col-10">
                        <td *ngFor="let hora of array[2]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complex2Link : simple2Link" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                </tr>
                <tr class="row">
                    <td class="col-2">
                        13:00 - 15:00
                    </td>
                    <div *ngIf="reporte==='docente'" class="col-10">
                        <td *ngFor="let hora of array[3]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complexLink : simpleLink" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                    <div *ngIf="reporte==='grupo'" class="col-10">
                        <td *ngFor="let hora of array[3]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complex1Link : simple1Link" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                    <div *ngIf="reporte==='aula'" class="col-10">
                        <td *ngFor="let hora of array[3]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complex2Link : simple2Link" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                </tr>
                <tr class="row">
                    <td class="col-2">
                        15:00 - 17:00
                    </td>
                    <div *ngIf="reporte==='docente'" class="col-10">
                        <td *ngFor="let hora of array[4]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complexLink : simpleLink" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                    <div *ngIf="reporte==='grupo'" class="col-10">
                        <td *ngFor="let hora of array[4]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complex1Link : simple1Link" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                    <div *ngIf="reporte==='aula'" class="col-10">
                        <td *ngFor="let hora of array[4]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complex2Link : simple2Link" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                </tr>
                <tr class="row">
                    <td class="col-2">
                        17:00 - 19:00
                    </td>
                    <div *ngIf="reporte==='docente'" class="col-10">
                        <td *ngFor="let hora of array[5]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complexLink : simpleLink" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                    <div *ngIf="reporte==='grupo'" class="col-10">
                        <td *ngFor="let hora of array[5]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complex1Link : simple1Link" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                    <div *ngIf="reporte==='aula'" class="col-10">
                        <td *ngFor="let hora of array[5]" class="elemento">
                            <ng-container [ngTemplateOutlet]="hora.horario_vacio === Vacio ? complex2Link : simple2Link" [ngTemplateOutletContext]="{hora:hora}">
                            </ng-container>
                        </td>
                    </div>
                </tr>
            </div>
            <ng-template #simpleLink let-hora='hora'>
                {{hora.horario_grupo | componenteGrupo:onComponente}} 
                {{hora.horario_grupo | nombreGrupo:grupos}}<br>
                {{hora.horario_aula | aulaName:aulas}}
            </ng-template>

            <ng-template #complexLink let-hora='hora'>
                -
            </ng-template>

            <ng-template #simple1Link let-hora='hora'>
                {{hora.horario_grupo | componenteGrupo:onComponente}} 
                {{hora.horario_grupo | docenteName:onDocente}}<br>
                {{hora.horario_aula | aulaName:aulas}}
            </ng-template>

            <ng-template #complex1Link let-hora='hora'>
                -
            </ng-template>

            <ng-template #simple2Link let-hora='hora'>
                {{hora.horario_grupo | componenteGrupo:onComponente}} 
                {{hora.horario_grupo | nombreGrupo:grupos}}<br>
                {{hora.dia}}<br>
                {{hora.horario_grupo | docenteName:onDocente}}

            </ng-template>

            <ng-template #complex2Link let-hora='hora'>
                -
            </ng-template>
        </tbody>
    </table>
</div>