<div *ngIf="isLoaded; else stillLoading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <h5>Universidad Nacional Autonoma de Nicaragua</h5>
      </div>
      <div class="col-12 text-center">
        <h5>UNAN-Le&oacute;n</h5>
      </div>
      <div class="col-12 text-center">
        <h6>Departamento de Computaci&oacute;n - Horarios por Aula</h6>
      </div>
      <div class="col-12 text-center">
        <h6>Semestre {{selectedPlan.planificacion_semestre}} a&ntilde;o
          {{selectedPlan.planificacion_anyo_lectivo}}</h6>
      </div>
    </div>
    <div class="row center">
      <div class="col-4">
        <mat-form-field class="font-size-12" appearance="outline">
          <mat-label>Planificaci&oacute;n</mat-label>
          <mat-select [(ngModel)]="selectedPlan" name="planificacion" (selectionChange)="getData()">
            <mat-option *ngFor="let plan of planificaciones" [value]="plan">
              Semestre {{plan.planificacion_semestre}} año {{plan.planificacion_anyo_lectivo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="font-size-12" appearance="outline">
          <mat-label>Recintos</mat-label>
          <mat-select [(ngModel)]="selectedRec" name="recinto" (selectionChange)="getAulas($event.value.recinto_id); getData()">
            <mat-option *ngFor="let recinto of recintos" [value]="recinto">
              {{recinto.recinto_nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4" *ngIf="aulas[0]">
        <mat-form-field class="font-size-12" appearance="outline">
          <mat-label>Aulas</mat-label>
          <mat-select [(ngModel)]="selectedAula" name="aula" (selectionChange)="getData()">
            <mat-option *ngFor="let aula of aulasFiltered" [value]="aula">
              {{aula.aula_nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div *ngIf="selectedPlan && selectedRec">
    <div *ngIf="array.length===6;else stillLoading2">
      <table class="table" style="width: 80%;">
        <thead>
          <tr class="row">
            <th class="col-2">Hora</th>
            <th class="col-2">Lunes</th>
            <th class="col-2">Martes</th>
            <th class="col-2">Mi&eacute;rcoles</th>
            <th class="col-2">Jueves</th>
            <th class="col-2">Viernes</th>
          </tr>
        </thead>
        <tbody class="row">
          <div class="mat-figure">
            <tr class="row">
              <td class="col-2">
                7:00 - 9:00
              </td>
              <div class="col-10">
                <td *ngFor="let hora of array[0]" class="elemento">
                  <ng-container [ngTemplateOutlet]="hora.horario_vacio === isLoaded ? complexLink : simpleLink"
                    [ngTemplateOutletContext]="{hora:hora}">
                  </ng-container>
                </td>
              </div>

            </tr>
            <tr class="row">
              <td class="col-2">
                9:00 - 11:00
              </td>
              <div class="col-10">
                <td *ngFor="let hora of array[1]" class="elemento">
                  <ng-container [ngTemplateOutlet]="hora.horario_vacio === isLoaded ? complexLink : simpleLink"
                    [ngTemplateOutletContext]="{hora:hora}">
                  </ng-container>
                </td>
              </div>
            </tr>
            <tr class="row">
              <td class="col-2">
                11:00 - 13:00
              </td>
              <div class="col-10">
                <td *ngFor="let hora of array[2]" class="elemento">
                  <ng-container [ngTemplateOutlet]="hora.horario_vacio === isLoaded ? complexLink : simpleLink"
                    [ngTemplateOutletContext]="{hora:hora}">
                  </ng-container>
                </td>
              </div>
            </tr>
            <tr class="row">
              <td class="col-2">
                13:00 - 15:00
              </td>
              <div class="col-10">
                <td *ngFor="let hora of array[3]" class="elemento">
                  <ng-container [ngTemplateOutlet]="hora.horario_vacio === isLoaded ? complexLink : simpleLink"
                    [ngTemplateOutletContext]="{hora:hora}">
                  </ng-container>
                </td>
              </div>
            </tr>
            <tr class="row">
              <td class="col-2">
                15:00 - 17:00
              </td>
              <div class="col-10">
                <td *ngFor="let hora of array[4]" class="elemento">
                  <ng-container [ngTemplateOutlet]="hora.horario_vacio === isLoaded ? complexLink : simpleLink"
                    [ngTemplateOutletContext]="{hora:hora}">
                  </ng-container>
                </td>
              </div>
            </tr>
            <tr class="row">
              <td class="col-2">
                17:00 - 19:00
              </td>
              <div class="col-10">
                <td *ngFor="let hora of array[5]" class="elemento">
                  <ng-container [ngTemplateOutlet]="hora.horario_vacio === isLoaded ? complexLink : simpleLink"
                    [ngTemplateOutletContext]="{hora:hora}">
                  </ng-container>
                </td>
              </div>
            </tr>
          </div>

        </tbody>
      </table>
    </div>
  </div>

</div>

<ng-template #simpleLink let-hora='hora'>
  <b>{{hora.horario_grupo| nombreGrupo: grupos}}-{{(hora.horario_grupo | gpComponenteNoData: componentes : grupos).componente_nombre}}</b><br>
  {{((hora.horario_grupo | gpComponenteNoData: componentes : grupos).componente_ciclo|cicloToYear)}}<br>
  {{(hora.horario_grupo | gpDocente: docentes : grupos).docente_nombre}}<br>
  {{((hora.horario_grupo | gpComponenteNoData: componentes : grupos).componente_id|compPdeCarrera: componentes: pdes: carreras).carrera_nombre}}
</ng-template>

<ng-template #complexLink let-hora='hora'>
  <b>-</b>
</ng-template>
<ng-template #stillLoading>
  <div class="center col-2">
    <div class="google-loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

</ng-template>

<ng-template #stillLoading2>
  <div class="center col-2">
    <div class="loadingio-spinner-double-ring-l8019rag0l">
      <div class="ldio-c3a0kh417ci">
        <div></div>
        <div></div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
