<mat-list>
  <mat-list-item ><mat-icon>view_module</mat-icon><button mat-button [matMenuTriggerFor]="Reportes">Reportes</button>

    <mat-menu #Reportes="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="horarios">Horarios</button>
      <button mat-menu-item [matMenuTriggerFor]="cargaAc">Carga Academica</button>
    </mat-menu>
    
    <mat-menu #horarios="matMenu">
      <button mat-menu-item (click)="go('docente')">Docente</button>
      <button mat-menu-item (click)="go('grupo')">Grupo</button>
      <button mat-menu-item (click)="go('aula')">Aula</button>
    </mat-menu>
    <mat-menu #cargaAc="matMenu">
      <button mat-menu-item routerLink="#">algo</button>
      <button mat-menu-item>algo</button>
      <button mat-menu-item>algo</button>
    </mat-menu>
  </mat-list-item>
  <mat-list-item routerLink="/facultad/list"><i class="fas fa-synagogue"></i>Facultades</mat-list-item>
  <mat-list-item routerLink="/departamento/ver"><i class="fas fa-warehouse"></i>Departementos</mat-list-item>
  <mat-list-item routerLink="/recinto/ver"><i class="fas fa-building"></i>Recintos</mat-list-item>
  <mat-list-item routerLink="/aula/ver"><i class="fas fa-home"></i>Aulas</mat-list-item>
  <mat-list-item routerLink="/componente"> <i class="fas fa-project-diagram"></i>Componentes</mat-list-item>
  <mat-list-item routerLink="planestudio/ver"><mat-icon>folder</mat-icon>Plan de estudios</mat-list-item>
  <mat-list-item routerLink="docente/ver"><mat-icon>account_balance</mat-icon>Docentes</mat-list-item>

</mat-list>
