.btnlogin {
  width: 30%;
  margin: 1px;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.table-scrollable {
  overflow: auto;
  height: 55vh;
}

.scrollable {
  overflow: auto;
  height: 35vh;
}

.docente-list-el:hover {
  border: 1px solid palevioletred;
}
