<div class="container-fluid">
    <div class="row">
  
    <h1>Universidad Nacional Autonoma de Nicaragua</h1>
    <h1>UNAN-Le&oacute;n</h1><br>
    <h4>Departamento de cumputaci&oacute;n</h4><br>
    <h4>Reporte de Carga Gen&eacute;rica de Gocencia Directa planificacion x</h4>
    </div>
</div>
<!--
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
   
    <ng-container matColumnDef="departamento">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let departamento"> {{departamento.departamento_nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="carga">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let carga"> {{carga}} </td>
        </ng-container>
    <ng-container matColumnDef="carrera">
       <th mat-header-cell *matHeaderCellDef> ID </th>
       <td mat-cell *matCellDef="let carrera"> {{carrera.carrera_nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="tgrupo">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let tgrupo"> {{tgrupo}} </td>
    </ng-container>
    <ng-container matColumnDef="thoras">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let thoras"> {{thoras}} </td>
    </ng-container>
</table>-->