<div class="container-fluid">
  <mat-card>
    <div class="row">
      <div class="col-12 float-right">
        <button mat-raised-button color="primary" (click)="createForm(0)">
          <mat-icon>add</mat-icon>Agregar
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <mat-list *ngIf="componentes.length>0">
          <mat-list-item *ngFor="let comp of componentes">{{comp.componente_nombre}}
            <span style="flex: 1 1 auto"></span>
            <button mat-icon-button [value]="comp.componente_id" (click)="delComponente(comp.componente_id)">
              <mat-icon style="color:red">delete</mat-icon>
            </button>
            <button mat-icon-button [value]="comp.componente_id" (click)="createForm(1, comp.componente_id)">
              <mat-icon style="color:green">edit</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col-lg-4 col-md-4">
        <span *ngIf="add">
          <form [formGroup]="form" class="d-flex flex-column">
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="componente_nombre">
              <mat-error *ngIf="Form.componente_nombre.invalid">{{Errors.getError(Form.componente_nombre)}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>horas teoricas</mat-label>
              <input matInput formControlName="componente_cht">
              <mat-error *ngIf="Form.componente_cht.invalid">{{Errors.getError(Form.componente_cht)}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>horas practicas</mat-label>
              <input matInput formControlName="componente_chp">
              <mat-error *ngIf="Form.componente_chp.invalid">{{Errors.getError(Form.componente_chp)}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Ciclo</mat-label>
              <input matInput formControlName="componente_ciclo">
              <mat-error *ngIf="Form.componente_ciclo.invalid">{{Errors.getError(Form.componente_ciclo)}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Creditos</mat-label>
              <input matInput formControlName="componente_credito">
              <mat-error *ngIf="Form.componente_credito.invalid">{{Errors.getError(Form.componente_credito)}}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Area</mat-label>
              <mat-select [(value)]="selected" formControlName="componente_area">
                <mat-option value="0">area...</mat-option>
                <mat-option *ngFor="let area of areas" [value]="area.area_id">{{area.area_nombre}}</mat-option>
              </mat-select>
              <mat-error *ngIf="Form.componente_area.invalid">{{Errors.getError(Form.componente_area)}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Plan de estudios</mat-label>
              <mat-select [(value)]="selected2" formControlName="componente_pde">
                <mat-option value="0">plan de estudios...</mat-option>
                <mat-option *ngFor="let pde of pdes" [value]="pde.pde_id">{{pde.pde_nombre}}</mat-option>
              </mat-select>
              <mat-error *ngIf="Form.componente_pde.invalid">{{Errors.getError(Form.componente_pde)}}</mat-error>
            </mat-form-field>

            <button mat-raised-button type="button" class="float-rigth" color="primary"
              (click)="form.value.componente_id === null ? saveComponente(0):saveComponente(1)"
              [disabled]="form.invalid || editing">
              <mat-icon>save</mat-icon>Guardar
            </button>
            <button mat-raised-button type="button" class="float-rigth mt-1" color="warn" (click)="add = false">
              <mat-icon>cancel</mat-icon>Cancelar
            </button>
          </form>
        </span>
      </div>
    </div>
  </mat-card>
</div>
