<div *ngIf="hLoaded; else stillLoading">
  <table class="table" style="width: 80%;">
    <thead>
      <tr class="row">
        <th class="col-2">Hora</th>
        <th class="col-2">Lunes</th>
        <th class="col-2">Martes</th>
        <th class="col-2">Mi&eacute;rcoles</th>
        <th class="col-2">Jueves</th>
        <th class="col-2">Viernes</th>
      </tr>
    </thead>
    <tbody class="row">
      <div class="mat-figure">
        <tr class="row">
          <td class="col-2">
            7:00 - 8:00
          </td>
          <div class="col-10">
            <td *ngFor="let horas of array[0]" class="elemento">
              <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                [ngTemplateOutletContext]="{horas:horas}">
              </ng-container>
            </td>
          </div>

        </tr>
        <tr class="row">
          <td class="col-2">
            8:00 - 9:00
          </td>
          <div class="col-10">
            <td *ngFor="let horas of array[1]" class="elemento">
              <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                [ngTemplateOutletContext]="{horas:horas}">
              </ng-container>
            </td>
          </div>
        </tr>
        <tr class="row">
          <td class="col-2">
            9:00 - 10:00
          </td>
          <div class="col-10">
            <td *ngFor="let horas of array[2]" class="elemento">
              <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                [ngTemplateOutletContext]="{horas:horas}">
              </ng-container>
            </td>
          </div>
        </tr>
        <tr class="row">
          <td class="col-2">
            10:00 - 11:00
          </td>
          <div class="col-10">
            <td *ngFor="let horas of array[3]" class="elemento">
              <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                [ngTemplateOutletContext]="{horas:horas}">
              </ng-container>
            </td>
          </div>
        </tr>
        <tr class="row">
          <td class="col-2">
            11:00 - 12:00
          </td>
          <div class="col-10">
            <td *ngFor="let horas of array[4]" class="elemento">
              <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                [ngTemplateOutletContext]="{horas:horas}">
              </ng-container>
            </td>
          </div>
        </tr>
        <tr class="row">
          <td class="col-2">
            12:00 - 1:00
          </td>
          <div class="col-10">
            <td *ngFor="let horas of array[5]" class="elemento">
              <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                [ngTemplateOutletContext]="{horas:horas}">
              </ng-container>
            </td>
          </div>
        </tr>
        <tr class="row">
          <td class="col-2">
            1:00 - 2:00
          </td>
          <div class="col-10">
            <td *ngFor="let horas of array[6]" class="elemento">
              <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                [ngTemplateOutletContext]="{horas:horas}">
              </ng-container>
            </td>
          </div>
        </tr>
        <tr class="row">
          <td class="col-2">
            2:00 - 3:00
          </td>
          <div class="col-10">
            <td *ngFor="let horas of array[7]" class="elemento">
              <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                [ngTemplateOutletContext]="{horas:horas}">
              </ng-container>
            </td>
          </div>
        </tr>
        <tr class="row">
          <td class="col-2">
            3:00 - 4:00
          </td>
          <div class="col-10">
            <td *ngFor="let horas of array[8]" class="elemento">
              <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                [ngTemplateOutletContext]="{horas:horas}">
              </ng-container>
            </td>
          </div>
        </tr>
        <tr class="row">
          <td class="col-2">
            4:00 - 5:00
          </td>
          <div class="col-10">
            <td *ngFor="let horas of array[9]" class="elemento">
              <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                [ngTemplateOutletContext]="{horas:horas}">
              </ng-container>
            </td>
          </div>
        </tr>
        <tr class="row">
          <td class="col-2">
            5:00 - 6:00
          </td>
          <div class="col-10">
            <td *ngFor="let horas of array[10]" class="elemento">
              <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                [ngTemplateOutletContext]="{horas:horas}">
              </ng-container>
            </td>
          </div>
        </tr>
        <tr class="row">
          <td class="col-2">
            6:00 - 7:00
          </td>
          <div class="col-10">
            <td *ngFor="let horas of array[11]" class="elemento">
              <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                [ngTemplateOutletContext]="{horas:horas}">
              </ng-container>
            </td>
          </div>
        </tr>
      </div>
    </tbody>
  </table>
</div>
<ng-template #stillLoading>
  <div class="center col-2">
    <div class="google-loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

</ng-template>
<ng-template #stillLoading2>
  <div class="center col-2">
    <div class="loadingio-spinner-double-ring-l8019rag0l">
      <div class="ldio-c3a0kh417ci">
        <div></div>
        <div></div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #simpleLink let-horas='horas'>
  <div *ngIf="horas !== undefined && horas.length>0 && !horas[0].horario_vacio">
    <div *ngFor="let hora of horas">
      <b>{{hora.horario_grupo| nombreGrupo: grupos}}-{{(hora.horario_grupo | gpComponenteNoData: componentes : grupos).componente_nombre}}</b><br>
      Docente: {{(hora.horario_grupo | gpDocente: docentes : grupos).docente_nombre}}<br>
      {{hora.horario_aula | aulaName: aulas}} - {{(hora.horario_aula | gpRecinto: recintos : aulas).recinto_nombre}}
      <br>
    </div>
  </div>
</ng-template>

<ng-template #complexLink let-hora='hora'>
  <b>-</b>
</ng-template>
