<div *ngIf="hLoaded; else stillLoading">
  <table class="table" style="width: 80%;">
    <thead>
      <tr class="row">
        <th class="col-2">Hora</th>
        <th *ngFor="let dia of diasLabels" class="col-2">{{dia}}</th>
      </tr>
    </thead>
    <tbody class="row">
      <div class="mat-figure">

        <tr *ngFor="let label of horasLabels;let i = index" class="row">
          <td class="col-2">
            {{label}}
          </td>
          <div class="col-10">
            <td *ngFor="let horas of array[i]" class="elemento">
              <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                [ngTemplateOutletContext]="{horas:horas,TYPE:TYPE}">
              </ng-container>
            </td>
          </div>

        </tr>
      </div>
    </tbody>
  </table>
</div>
<ng-template #stillLoading>
  <div class="center col-2">
    <div class="google-loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

</ng-template>
<ng-template #stillLoading2>
  <div class="center col-2">
    <div class="loadingio-spinner-double-ring-l8019rag0l">
      <div class="ldio-c3a0kh417ci">
        <div></div>
        <div></div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #simpleLink let-horas='horas' let-TYPE='TYPE'>
  <div *ngIf="horas !== undefined && horas.length>0 && !horas[0].horario_vacio">
    <div *ngFor="let hora of horas">
      <ng-container [ngSwitch]="TYPE">
        <ng-container *ngSwitchCase="'Anyo'">
          <b>{{hora.horario_grupo| nombreGrupo: grupos}}-{{(hora.horario_grupo | gpComponenteNoData: componentes : grupos).componente_nombre}}</b><br>
          Docente: {{(hora.horario_grupo | gpDocente: docentes : grupos).docente_nombre}}<br>
          {{hora.horario_aula | aulaName: aulas}} - {{(hora.horario_aula | gpRecinto: recintos : aulas).recinto_nombre}}
          <br>
        </ng-container>
        <ng-container *ngSwitchCase="'Docente'">
          <b>{{hora.horario_grupo| nombreGrupo: grupos}}-{{(hora.horario_grupo | gpComponenteNoData: componentes : grupos).componente_nombre}}</b><br>
          {{((hora.horario_grupo | gpComponenteNoData: componentes : grupos).componente_ciclo|cicloToYear)}}<br>
          {{hora.horario_aula | aulaName:aulas}} -
          {{(hora.horario_aula | gpRecinto: recintos : aulas).recinto_nombre}}<br>
          {{((hora.horario_grupo | gpComponenteNoData: componentes : grupos).componente_id|compPdeCarrera: componentes: pdes: carreras).carrera_nombre}}
        </ng-container>
        <ng-container *ngSwitchCase="'Aula'">
          <b>{{hora.horario_grupo| nombreGrupo: grupos}}-{{(hora.horario_grupo | gpComponenteNoData: componentes : grupos).componente_nombre}}</b><br>
          {{((hora.horario_grupo | gpComponenteNoData: componentes : grupos).componente_ciclo|cicloToYear)}}<br>
          {{(hora.horario_grupo | gpDocente: docentes : grupos).docente_nombre}}<br>
          {{((hora.horario_grupo | gpComponenteNoData: componentes : grupos).componente_id|compPdeCarrera: componentes: pdes: carreras).carrera_nombre}}
        </ng-container>
        <ng-container *ngSwitchDefault>No existe ese tipo de reporte</ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #complexLink let-hora='hora'>
  <b>-</b>
</ng-template>
