<div class="container-fluid" *ngIf="isLoaded; else stillLoading">
  <mat-card style="height: 80vh; overflow: auto;">
    <br>
    <div class="row">
      <h5 style="margin-left: 5%">&Aacute;reas</h5>
      <span style="flex: 1 1 auto"></span>
      <div style="margin-right: 5%">
        <button mat-raised-button color="primary" (click)="openDialog('c')" style="width: 100px">
          <mat-icon>add</mat-icon>Agregar
        </button>
      </div>
    </div>
    <div class="table-scroll">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="activartabla">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> N<sup>o</sup> </th>
          <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let area"> {{area.area_nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let area">
            <div class="opciones">
              <button mat-raised-button class="btnBorrar" (click)="delArea(area.area_id)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-raised-button class="btnEditar" (click)="openDialog('u', area.area_nombre, area.area_id)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card>
</div>

<ng-template #stillLoading>
  <div class="center col-2">
    <div class="google-loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</ng-template>
<ng-template #stillLoading2>
  <div class="center col-2">
    <div class="loadingio-spinner-double-ring-l8019rag0l">
      <div class="ldio-c3a0kh417ci">
        <div></div>
        <div></div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
