<div class="container-fluid">
  <mat-card>
      <h1>Areas Disponibles</h1>
      <div class="row">
      <mat-list>
        <button mat-raised-button (click)="openDialog()"><mat-icon>add</mat-icon></button>
        <mat-list-item *ngFor="let area of areas">
          {{area.area_nombre}}
          <span style="flex: 1 1 auto"></span> 
          <button mat-raised-button><mat-icon style="color:red">delete</mat-icon></button>
          <button mat-raised-button><mat-icon style="color:green">edit</mat-icon></button>
        </mat-list-item>
      </mat-list>
    </div>  
  </mat-card>
</div>
  
    
