.centrar {
    text-align: center;
}

.warning {
    background-color: yellow;
    width: 100%;
}

.success {
    background-color: green;
    width: 100%;
}

.danger {
    background-color: red;
    width: 100%;
}