.centrar {
    text-align: center;
}

.warning {
    background-color: #d6c502;
}

.success {
    background-color: #2eab00;
}

.danger {
    background-color: #c41000;
}

.horas {
    width: 100%;
    text-align: right;
    padding: 5px;
    color: white;
    font-weight: bold;
}