.false {
    background-color: lightgreen;
}

.true {
    background-color: gray;
}

td {
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
}

td.elemento {
    width: 250px;
    text-transform: capitalize;
}

table {
    margin: auto;
    align-content: center;
    text-align: center;
}

.center {
	margin: auto;
	width: 70%;
	padding: 10px;
}