<div *ngIf="showMessage" class="center">
  <h3>No hay datos que mostrar por favor vuelva mas tarde</h3>
</div>


<div *ngIf="isLoaded; else stillLoading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <h5>Universidad Nacional Autonoma de Nicaragua</h5>
      </div>
      <div class="col-12 text-center">
        <h5>UNAN-Le&oacute;n</h5>
      </div>
      <div class="col-12 text-center">
        <h6>Departamento de Computaci&oacute;n - Horarios por A&ntilde;o</h6>
      </div>
      <div class="col-12 text-center">
        <h6>Horarios del semestre {{selectedPlan.planificacion_semestre}} a&ntilde;o
          {{selectedPlan.planificacion_anyo_lectivo}}</h6>
      </div>
    </div>
    <div class="row center">
      <div class="col-4">
        <mat-form-field class="font-size-12" appearance="outline">
          <mat-label>Planificaci&oacute;n</mat-label>
          <mat-select [(ngModel)]="selectedPlan" name="planificacion" (selectionChange)="getGrupos()">
            <mat-option *ngFor="let plan of planificaciones" [value]="plan">
              Semestre {{plan.planificacion_semestre}} año {{plan.planificacion_anyo_lectivo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="font-size-12" appearance="outline">
          <mat-label>Carreras</mat-label>
          <mat-select [(ngModel)]="selectedCarr" name="carrera" (selectionChange)="getGrupos()">
            <mat-option *ngFor="let carrera of carreras" [value]="carrera">
              {{carrera.carrera_nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="font-size-12" appearance="outline">
          <mat-label>Años</mat-label>
          <mat-select name="anyos" [(ngModel)]="selectedAnyo" (selectionChange)="getGrupos()">
            <mat-option *ngFor="let anyo of anyos" [value]="anyo">
              {{anyo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </div>
  <div *ngIf="selectedAnyo && selectedCarr && selectedPlan">
    <div *ngIf="array.length===6; else stillLoading2">
      <table class="table" style="width: 80%;">
        <thead>
          <tr class="row">
            <th class="col-2">Hora</th>
            <th class="col-2">Lunes</th>
            <th class="col-2">Martes</th>
            <th class="col-2">Mi&eacute;rcoles</th>
            <th class="col-2">Jueves</th>
            <th class="col-2">Viernes</th>
          </tr>
        </thead>
        <tbody class="row">
          <div class="mat-figure">
            <tr class="row">
              <td class="col-2">
                7:00 - 9:00
              </td>
              <div class="col-10">
                <td *ngFor="let horas of array[0]" class="elemento">
                  <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                    [ngTemplateOutletContext]="{horas:horas}">
                  </ng-container>
                </td>
              </div>

            </tr>
            <tr class="row">
              <td class="col-2">
                9:00 - 11:00
              </td>
              <div class="col-10">
                <td *ngFor="let horas of array[1]" class="elemento">
                  <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                    [ngTemplateOutletContext]="{horas:horas}">
                  </ng-container>
                </td>
              </div>
            </tr>
            <tr class="row">
              <td class="col-2">
                11:00 - 13:00
              </td>
              <div class="col-10">
                <td *ngFor="let horas of array[2]" class="elemento">
                  <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                    [ngTemplateOutletContext]="{horas:horas}">
                  </ng-container>
                </td>
              </div>
            </tr>
            <tr class="row">
              <td class="col-2">
                13:00 - 15:00
              </td>
              <div class="col-10">
                <td *ngFor="let horas of array[3]" class="elemento">
                  <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                    [ngTemplateOutletContext]="{horas:horas}">
                  </ng-container>
                </td>
              </div>
            </tr>
            <tr class="row">
              <td class="col-2">
                15:00 - 17:00
              </td>
              <div class="col-10">
                <td *ngFor="let horas of array[4]" class="elemento">
                  <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                    [ngTemplateOutletContext]="{horas:horas}">
                  </ng-container>
                </td>
              </div>
            </tr>
            <tr class="row">
              <td class="col-2">
                17:00 - 19:00
              </td>
              <div class="col-10">
                <td *ngFor="let horas of array[5]" class="elemento">
                  <ng-container [ngTemplateOutlet]="horas[0].horario_vacio === isLoaded ? complexLink : simpleLink"
                    [ngTemplateOutletContext]="{horas:horas}">
                  </ng-container>
                </td>
              </div>
            </tr>
          </div>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #stillLoading>
  <div class="center col-2">
    <div class="google-loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

</ng-template>
<ng-template #stillLoading2>
  <div class="center col-2">
    <div class="loadingio-spinner-double-ring-l8019rag0l">
      <div class="ldio-c3a0kh417ci">
        <div></div>
        <div></div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #simpleLink let-horas='horas'>
  <div *ngIf="horas !== undefined && horas.length>0 && !horas[0].horario_vacio">
    <div *ngFor="let hora of horas">
      <b>{{hora.horario_grupo| nombreGrupo: grupos}}-{{(hora.horario_grupo | gpComponenteNoData: componentes : grupos).componente_nombre}}</b><br>
      Docente: {{(hora.horario_grupo | gpDocente: docentes : grupos).docente_nombre}}<br>
      {{hora.horario_aula | aulaName: aulas}} - {{(hora.horario_aula | gpRecinto: recintos : aulas).recinto_nombre}}
      <br>
    </div>
  </div>
</ng-template>

<ng-template #complexLink let-hora='hora'>
  <b>-</b>
</ng-template>
