.false {
  background-color: lightgreen;
}

.true {
  background-color: gray;
}


td {
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
}

td.elemento {
  width: 250px;
  text-transform: capitalize;
}

table {
  margin: auto;
  align-content: center;
  text-align: center;
}

.center {
  margin: auto;
  width: 70%;
  padding: 10px;
}

// google loader
$font: 'Montserrat',
sans-serif;

$black: rgb(8, 8, 8);
$red: #DB4437;
$yellow: #F4B400;
$green: rgb(15, 25, 157);
$colors-list: $green $yellow $red;

.google-loader {
  display: block;

  span {
    display: inline-block;
    margin-top: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  @each $current-color in $colors-list {
    $i: index($colors-list, $current-color);
    $t: $i * -0.25;

    span:nth-child(#{$i}) {
      background: $current-color;
      animation: move 1s ease-in-out (#{$t}s) infinite alternate;
    }
  }
}

@keyframes move {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(5px);
  }
}

h1 {
  font-family: $font;
  font-size: 4em;
  text-align: center;
  letter-spacing: -8px;
  margin-top: 0;

  span {
    &:first-child {
      color: $black;
    }

    &:nth-child(2) {
      color: $red;
    }

    &:nth-child(3) {
      color: $yellow;
    }

    &:nth-child(4) {
      color: $black;
    }

    &:nth-child(5) {
      color: $green;
    }

    &:last-child {
      color: $red;
      transform: rotate(-20deg);
      display: inline-block;
    }
  }
}

html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// termina aqui
//otro loading
@keyframes ldio-c3a0kh417ci {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

.ldio-c3a0kh417ci div {
  box-sizing: border-box !important
}

.ldio-c3a0kh417ci>div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #000c7b transparent #000c7b transparent;
  animation: ldio-c3a0kh417ci 1s linear infinite;
}

.ldio-c3a0kh417ci>div:nth-child(2),
.ldio-c3a0kh417ci>div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: ldio-c3a0kh417ci 1s linear infinite reverse;
}

.ldio-c3a0kh417ci>div:nth-child(2) {
  border-color: transparent #fe9400 transparent #fe9400
}

.ldio-c3a0kh417ci>div:nth-child(3) {
  border-color: transparent
}

.ldio-c3a0kh417ci>div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-c3a0kh417ci>div:nth-child(3) div:before,
.ldio-c3a0kh417ci>div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #000c7b;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #000c7b;
}

.ldio-c3a0kh417ci>div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #000c7b;
}

.ldio-c3a0kh417ci>div:nth-child(4) {
  border-color: transparent;
}

.ldio-c3a0kh417ci>div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-c3a0kh417ci>div:nth-child(4) div:before,
.ldio-c3a0kh417ci>div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: #fe9400;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 #fe9400;
}

.ldio-c3a0kh417ci>div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 #fe9400;
}

.loadingio-spinner-double-ring-l8019rag0l {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-c3a0kh417ci {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-c3a0kh417ci div {
  box-sizing: content-box;
}

/* generated by https://loading.io/ */

//aqui termina el otro loading
