.card {
  position: relative;
  min-width: 230px;
  max-width: 230px;
  height: 330px;
}


.list-grupos {
  height: 200px;
  overflow: auto;
}

.grupos {
  height: 80%;
}

.footer {
  margin-bottom: 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
