<div class="container-fluid">
    <mat-card>
        <br>
        <div class="row">
            <h1 style="margin-left: 5%">Carreras</h1>
            <span style="flex: 1 1 auto"></span>
            <div style="margin-right: 5%">
                <button mat-raised-button (click)="openDialog('c')" style="width: 100px">
            <mat-icon>add</mat-icon>
          </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <mat-list>
                    <mat-list-item *ngFor="let carrera of carreras" class="row">
                        <div class="col">
                            {{carrera.carrera_nombre}}
                        </div>
                        <div class="col">
                            {{carrera.carrera_facultad}}
                        </div>
                        <span style="flex: 1 1 auto"></span>
                        <button mat-icon-button (click)="delArea(carrera.carrera_id)">
                <mat-icon style="color:red">delete</mat-icon>
              </button>
                        <button mat-icon-button (click)="openDialog('u', carrera.carrera_id)">
                <mat-icon style="color:green">edit</mat-icon>
              </button>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </mat-card>
</div>