/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
button:focus{
    outline: none;
}

*:focus{
    outline: none;
}

.color-light{
    color: #d3f5ee;
}

.bg-color-ligth{
background-color:  #d3f5ee !important;
}

.border-radius-50{
    border-radius: 50px;
}

.font-size-15{
    font-size: 15px !important;
}

.font-size-12{
    font-size: 12px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
