<div class="col-md-4" *ngFor="let facultad of facultades">
  <div class="card text-center">
    <div class="card-header bg-dark d-flex text-white justify-content-between align-items-center">
      {{facultad.id}}
      <button class="btn btn-danger" (click)="deleteFaculta(facultad.id)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <div class="card-body">
      <p>{{facultad.nombre}}</p>
      <a [routerLink]="['/facultad/edit', facultad.id]" class="btn btn-block btn-info" >
        Edit facultad
      </a>
    </div>
  </div>
</div>
