<div class="container-fluid">
    <mat-card>
        <form [formGroup]="form" *ngIf="form" class="d-flex flex-column font-size-12">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input formControlName="recinto_nombre" matInput>
                <mat-error *ngIf="Form.recinto_nombre.invalid">{{Errors.getError(Form.recinto_nombre)}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Ubicaci&oacute;n</mat-label>
                <input formControlName="recinto_ubicacion" matInput>
                <mat-error *ngIf="Form.recinto_ubicacion.invalid">{{Errors.getError(Form.recinto_ubicacion)}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Facultad</mat-label>
                <mat-select formControlName="recinto_facultad" ([value])="selected">
                    <mat-option *ngFor="let facultad of facultades" [value]="facultad.facultad_id">
                        {{facultad.facultad_nombre}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="Form.recinto_facultad.invalid">{{Errors.getError(Form.recinto_facultad)}}</mat-error>
            </mat-form-field>
            <button mat-raised-button class="bg-color-green color-white" [disabled]="form.invalid"
             (click)="data.type === 'c' ? saveRecinto():updateRecinto()">
            Guardar
            </button>
            <button mat-raised-button  color="warn" (click)="dialogRef.close()"><mat-icon>cancel</mat-icon>Cancelar</button>
        </form>
    </mat-card>
</div>